*{
    padding: 0;
    margin: 0;
    background-color: #889EAF;
}
.container {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 300;
}
/* mobile */
.logo {
    display: none;
}
 nav {
    display: none;
 }

 .heading {
    color: white;
    margin-top:30%;
    margin-left: 10px;
    margin-bottom: 10px;
 }

 .sub-heading {
    margin-left: 10px;
    font-size: 16px;
    color: white;
 }

 .img img {
    width: 120px;
    height: 160px;
    margin-left: 15%;
    background-color: #BDBD61;
    z-index: 99999999;
    position: absolute;
    margin-top: 50px;
    border-radius: 80%;
    border: 2px solid black;
    box-sizing: border-box;
 }
.icons i {
    color: #28282A;
    padding: 5px;
    background-color: #F9F9F9;
    width: 4%;
    margin-left: 2%;
    position: relative;
    display: block;
    top: 100px;
    transition: .3s;
}

.icons i:hover {
    color: #E82339;
}










